form.actor-sheet {
  padding: 20px;
  gap: 5px;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;

  & > img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
}

ul {
  margin: 0;
}

.supply-container {
  &:has(.supply.uses) {
    text-align: center;
    align-self: center;
    align-items: center;
  }
}

.title-label {
  font-family: "Kirsty", serif;
}

.big-teeth-section {
  border-top: 3px solid $almost_black;
  display: flex;
  flex-direction: row;
  margin-bottom: 0px;

  > * {
    margin-right: 10px;

    &:last-child {
      margin-right: 0px;
    }
  }

  &:last-child {
    margin-right: 0px;
  }

  // Stress
  .big-teeth {
    @include toothradio(17px, 50px, "assets/teeth/stresstooth-halfgrey.png", "assets/teeth/stresstooth-red.png");
  }

  .small-teeth-container {
    .small-teeth-wrap {
      flex-direction: column;

      .small-teeth {
        display: flex;
        flex-direction: row;
      }
    }

    &:not(.scars) {
      .small-teeth-wrap {
        @include toothradio(17px, 30px, "assets/teeth/shorttooth-grey.png", "assets/teeth/shorttooth-red.png");
      }
    }

    &.scars {
      .small-teeth-wrap {
        @include toothradio(17px, 30px, "assets/teeth/shorttooth-grey.png", "assets/teeth/shorttooth-red.png", false);
      }
    }
  }
}

.item {
  justify-content: space-between;
  gap: 10px;

  img {
    margin-right: 10px;
  }

  .item-name {
    width: 150px;
    align-self: center;
  }

  .item-body, .open-actor {
    justify-content: flex-start;
    align-items: center;

    .item-name {
      margin-right: 10px;
    }

    .item-description {
      /*font-style: italic;*/
      text-align: justify;
    }
  }

  .item-controls {
    > .item-post {
      margin-left: 10px;
    }
  }
}

.tabs {
  justify-content: space-around;

  a {
    font-family: "Kirsty", serif;
  }
}

.tab-content {
  .tab {
    width: 100%;

    table {
      margin: 0;
    }

    &.relationships {
      .relationship-container {
        .collapse {
          margin-left: 10px;
        }

        .item {
          width: 100%;
          align-items: center;

          img {
            width: 48px;
            height: 48px;
          }

          .member-data {
            gap: 1em;
            justify-content: space-between;
          }

          .status-block {
            text-align: center;

            .status {
              $supply_size: 15px;
              $supply_margin: 3px;

              width: 90px;
              @include custom_radio_square($supply_size);

              label {
                @include changeable($transition-period, $hover-brightness, $hover-opacity);

                &.negative.enabled {
                  background-color: $red !important;
                }

                &.enabled {
                  background-color: $green !important;
                }
              }
            }
          }
        }

        .relationship-child-list {
          margin-left: 10px;
        }
      }
    }
  }

  .item {
    .item-name {
      font-weight: bold;
    }
    .item-body, .open-actor {
      width: 100%;
    }
  }

  .item-container {
    margin-left: 24px;

    .label-stripe-gray {
      align-items: end;
    }

    .current-load {
      display: inline;
    }
    .red {
      color: $red;
    }
  }

  .item-description {
    width: 100%;
  }

  .item-add-popup {
    margin-left: 10px;
  }

  .all-items {
    .item {
      .item-name {
        width: auto;
      }
    }
  }
}

.item-control {
  flex-grow: 0;
  align-self: center;
}

.disabled-item * {
  color: $gray;
}

.death-toggle {
  float: right;
  position: relative;

  i {
    font-size: 20px;

    &.fa-skull {
      &.fas {
        color: $red;
      }
      &.fa-regular {
        color: $almost_black;
      }
    }
  }
}

.dead {
  filter: grayscale(1);
}