// Imports
@import '../mixin.scss';

.actor-sheet > section {
  width: 100%;
  margin: 1em 0px;

  &:first-of-type {
    margin-top: 0px;
  }

  &:last-of-type {
    margin-bottom: 0px;
  }
}

.img-container {
  width: 120px;
  height: 120px;
  min-width: 120px;
  min-height: 120px;
}

.top-area {
  width: 100%;
  gap: 1em;

  .top-area-text {
    width: 100%;
    gap: 1em;

    .name {
      width: 100%;
    }

    .base-specialties {
      width: 100%;
      gap: 1em;
    }
  }

  .harmony {
    justify-content: space-between;
  }
}

.cache-container {
  gap: 0.5em;

  .cache {
    gap: 5px;

    @include custom_radio_diamond(20px, $almost_white, $cache_active, $almost_black);

    .cache-line {
      :first-child {
        align-self: center;
        margin-right: 1em;
        min-width: 80px;
        width: 80px;

        &.current-prosperity {
          color: $blue;
          text-shadow: 0 0 10px $clearblue;
        }
      }
    }

    .invested {
      background-color: $cache_invested !important;
    }
  }
}

.pressure-hazard-shells {
  justify-content: space-evenly;

  .pressure-hazard {
    .hazard {
      min-width: 80px;

      .small-teeth {
        height: 30px;
        justify-content: space-between;

        label {
          height: 100%;
          width: 17px;
        }
      }
    }
  }

  .shells-hazard-reduction {
    justify-content: space-between;

    .shells-container {
      width: fit-content;
      align-self: center;
      justify-content: center;
      gap: 0.5em;

      .shells {
        @include custom_radio_diamond(20px, $almost_white, $clearblue, $almost_black);

        max-width: 162px;
        flex-wrap: wrap;
        justify-content: center;
      }
    }
  }
}

.class-name {
  width: 512px;
  min-height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 48px;
  text-transform: uppercase;
  border: 3px solid $almost_black;

  .big-name {
    font-weight: bold;
    font-family: "Kirsty", serif;
  }

  .big-description {
    font-size: 20px;
    font-family: "Crimson Text", serif;
    color: $almost_black;
  }
}

.crew-xp-block {
  justify-content: space-between;

  .signature-gear-container {
    width: 340px;

    .item-block {
      align-items: center;

      .item {
        width: fit-content;

        .item-name {
          width: fit-content;
          margin-right: 0px;
        }
      }
    }
  }
}

section:has(~ .tab-content) {
  margin-bottom: 0px !important;
}

.tab-content {
  margin-top: 0px !important;

  .tab.community {
    & > div:not(:first-child) {
      margin-top: 10px;
      gap: 1em;
    }

    .community-data {
      width: 100%;
      gap: 1em;

      .community-name-region {
        gap: 1em;
      }
    }

    .community-members {
      width: 360px;
      min-width: 360px;
      max-width: 360px;

      .open-actor {
        width: auto;

        .member-data {
          gap: 1em;
          justify-content: space-between;

          .member-name-form {
            .member-name, .member-form {
              width: 150px;
              max-width: 150px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
          }
        }
      }

      .member-class {
        height: 100%;
        width: fit-content;
        justify-content: space-evenly;
        text-align: center;
        align-self: center;

        .motifs {
          width: 100px;
          max-width: 100px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }

  .tab.projects {
    margin: 0px;

    tr {
      display: flex;
    }

    .clock-settings {
      height: 100%;
      align-self: center;
      align-items: center;
      justify-content: space-evenly;

      .clock-size, .invested-caches {
        align-self: center;
        align-items: center;
        gap: 10px;
      }
    }

    .project-text {
      width: 100%;
      gap: 5px;

      .project-description {
        height: 100%;
      }
    }

    .add-project {
      font-weight: bold;
    }
  }

  .tab.community, .tab.foundations, .tab.abilities, .tab.all-items {
    .tab-list, .item-container-list {
      background: rgba(0, 0, 0, 0.05);

      > * {
        &:nth-child(odd) {
          background-color: var(--table-row-color-odd);
        }

        &:nth-child(even) {
          background-color: rgba(255, 255, 255, 0.2);
        }
      }
    }
  }

  .tab.foundations, .tab.abilities {
    .item-name {
      width: 100px;
    }

    .item-description {
      margin: 0.5em 0;
    }
  }
}

// Specialists styling
.specialists {
  flex-wrap: wrap;

  .specialist-block-wrapper {
    width: 50%;

    .item-body {
      justify-content: unset;
      align-items: unset;
      width: auto;
    }

    .d20-svg {
      height: 16px;
      width: 16px;
    }

    img {
      margin-right: 0px;
    }
  }

  .label-stripe {
    align-items: center;
    cursor: pointer;
    margin-bottom: 0px;
    padding-top: 2px;
    padding-bottom: 2px;
  }

  .specialist-body {
    img {
      border: 2px solid #191813;
      width: 1.75rem;
      height: 1.75rem;
      border-top: none;
    }

    > div {
      margin-bottom: 10px;
    }
  }

  .specialist-block-harm {
    justify-content: space-around;
    width: 100%;

    input[type=radio] {
      display: none;

      &:checked + label {
        color: $almost_white;
        font-weight: bold;
        background-color: $almost_black;
      }
    }

    label {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1 0 0;
      border: 2px solid #191813;
      border-top: none;
      border-left: none;
      padding: 0 5px;
      text-align: center;
    }
  }

  .specialist-armor {
    display: none;
  }

  .radio-toggle {
    display: flex;
    min-width: 30px;
    align-items: center;
    justify-content: center;
    border: 2px solid #191813;
    border-top: none;
    border-left: none;
    padding: 0 5px;

    a > i {
      &.fa-shield {
        &.fas {
          color: $gold;
        }
        &.fa-regular {
          color: $almost_black;
        }
      }
      &:before {
        font-size: 20px;
      }
    }
  }

  .specialist-specialties, .specialist-description {
    margin: 0 10px;
  }
}

.cache, .shells {
  & > div {
    flex-wrap: nowrap;
    justify-content: left;
  }

  input ~ label {
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 2px;
    margin-right: 2px;

    /*&[for$="0"] {
      border-width: 2px;
    }*/

    @include changeable($transition-period, $hover-brightness, $hover-opacity);
  }
}
