/*
 * General Styles
 * Cleaned out things that don't appear to apply to the strider sheet, and exist in other, separated SCSS files.
 * Some things *might* be missing, but at a glance, everything looks to be in order.
 */

.name-alias {
  img.portrait {
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
    margin-right: 40px;
    margin-bottom: 20px;
  }

  .item-name {
    width: auto;
    height: auto;
  }

  .melody-container {
    gap: 0.25em;

    .melody-toggle {
      align-self: center;
      text-align: center;

      i {
        width: fit-content;
        text-align: center;
        font-size: 30px;

        &.fas {
          &.fa-music-note {
            color: $cache_invested;
          }
          &.fa-music-note-slash {
            color: $almost_black;
          }
        }
      }
    }
  }

  .name, .gender, .form {
    width: 90%;
    margin-bottom: 10px;
  }
}

.traits {
  .item-name {
    margin-right: 0;
  }

  .item-class-label {
    align-self: center;
    min-width: 100px;
  }

  .two-line {
    gap: 2em;

    .item-class-label {
      align-self: center;
      min-width: auto;
    }

    > .item-block {
      width: 50%;
      gap: 2em;
    }
  }
}

.small-teeth-container.scars {
  .small-teeth-wrap {
    @include toothradio(17px, 30px, "assets/teeth/shorttooth-grey.png", "assets/teeth/shorttooth-red.png", false);
  }
}

table.drive-table {
  th:nth-child(2), th:nth-child(3), td:nth-child(2), td:nth-child(3) {
    width: 98px;
  }
}

.tab-content {
  .tab.community {
    .belief {
      margin: 10px 0;
    }

    .belief-clock-zone {
      & > div > *:first-child {
        min-width: 200px;
        width: 200px;
      }

      & > div > *:not(:first-child) {
        width: 100%;
      }

      .clock-block {
        align-self: center;
      }

      .memories {
        justify-content: space-around;
        height: 150px;
      }
    }
  }

  .tab.loadout {
    .signature-gear-container {
      width: fit-content;
      align-items: center;
      justify-self: center;
      margin: 0.5em 0;

      .item-block {
        align-items: center;
        margin-bottom: 0px;

        .item-add-popup {
          margin-left: 0px;
          margin-right: 10px;
        }

        .item {
          width: fit-content;

          .item-name {
            width: fit-content;
            margin-right: 0px;
          }
        }
      }
    }
  }

  .tab.abilities, .tab.loadout, .tab.all-items {
    > .tab-list, .item-container-list {
      background: rgba(0, 0, 0, 0.05);

      > * {
        &:nth-child(odd) {
          background-color: var(--table-row-color-odd);
        }

        &:nth-child(even) {
          background-color: rgba(255, 255, 255, 0.2);
        }
      }
    }
  }

  .tab.abilities, .tab.loadout {
    .item-name {
      width: 100px;
    }

    .item-description {
      margin: 0.5em 0;
    }
  }
}

.big-teeth-section {
  .scars-list {
    input[type=text]:not(:placeholder-shown) {
      background: rgba(255, 0, 0, 0.1);
    }
  }

  .strider-stress {
    label {
      &[for$="-0"] {
        margin-right: 0px;
      }
    }
  }
}

// Experience teeth
.teeth-experience {
  @include toothradio(10px, 30px, "assets/teeth/stresstooth-halfgrey.png", "assets/teeth/stresstooth-red.png");
  position: absolute;
  top: 0px;
  right: 10px;
}


.harm-armor {
  display: flex;

  & > div {
    margin: 7px 0;
    width: 100%;
  }

  input[type=text]:not(:placeholder-shown) {
    background: rgba(255, 0, 0, 0.1);
  }

  .td:first-of-type {
    width: 20px;
  }

  .death-block {
    align-items: center;

    & > * {
      margin: 5px;
    }

    & > input {
      width: 100%;
    }

    & > div {
      text-align: center;
    }

    div:first-of-type {
      width: 16px;
    }
  }

  .strider-armor {
    align-items: center;

    div {
      gap: 5px;
      justify-content: space-around;

      input {
        display: none;
      }

      .radio-toggle > a > i {
        font-size: 20px;

        &.fa-shield {
          &.fas {
            color: $gold;
          }
          &.fa-regular {
            color: $almost_black;
          }
        }
      }
    }
  }
}

.quirks, .connections {
  tr {
    display: flex;
  }
}

.quirks {
  .add-quirk {
    float: right;
    margin-right: 10px;
  }

  td:has(input[type=checkbox]:not(:checked)) {
    input {
      color: $gray;
    }
  }
}

.item-block {
  margin-bottom: 5px;
}

.open-actor {
  align-self: center;
}

.extra-rolls {
  width: 100%;
  border-top: 2px solid black;
  margin-top: 1em;
  padding-top: 1em;
  justify-content: center;
  gap: 1em;

  .other-rolls {
    align-self: center;
    font-size: 20px;
  }

  .downtime {
    .fas {
      font-size: 24px;
      transition: all 0.2s ease-in-out;

      &:hover {
        transform: scale(1.25);
      }
    }
  }
}