// Colors
$lightgray: #bbb;
$darkgray: #666;
$gray: #999;
$red: red;
$almost_black: #191813;
$almost_white: #EEEFFF;
$gold: #DAA520;
$green: #008000;
$light_green: #12a012;
$blue: #04578f;
$clearblue: #8080ff;
$purple: #8a2be2;
$lightblue: #add8e6;

$cache_active: #c27ba0;
$cache_invested: #7a546c;

// Transition period for sheet parts that hint what they can do
$transition-period: 0.2s;
$hover-opacity: 0.9;
$hover-brightness: 0.8;

// Utility imports
@import 'import/mixin';
@import 'fonts.scss';

//namespacing to avoid conflicts with other modules
.songs-for-the-dusk {
  font-family: "Crimson Text", serif;

  @import 'import/general-styles.scss';
  @import 'import/clocks.scss';

  &.actor.sheet {
    @import 'import/sheets/actor-sheet.scss';

    &.crew {
      @import 'import/sheets/crew-sheet.scss';
    }

    &.strider {
      @import 'import/sheets/strider-sheet.scss';
    }

    &.npc {
      @import 'import/sheets/npc-sheet.scss';
    }

    &.clock {
      @import 'import/sheets/clock-sheet.scss';
    }
  }

  &.item.sheet {
    @import 'import/sheets/item-sheet.scss';
  }
}

.settings {
  &.clock-styles {
    @import 'import/general-styles.scss';
    @import 'import/settings/clock-styles.scss';
  }
}

.application.dialog {
  @import 'import/dialogs.scss';
}

ol.chat-log li.chat-message.message {
  @import 'import/chat.scss';
}
