<h2>{{localize 'SFTD.EndSessionCheatSheet'}}</h2>
<p>{{{localize 'SFTD.EndSessionDescription'}}}</p>

<div class="form-group-inline">
  <input type="checkbox" checked>
  <div>
    <label>{{{localize 'SFTD.EndSessionXP'}}}</label>
  </div>
</div>
<div class="form-group-inline">
  <input type="checkbox" checked>
  <div>
    <label>{{{localize 'SFTD.EndSessionMissionComplete'}}}</label>
  </div>
</div>
<div class="form-group-inline">
  <input type="checkbox" checked>
  <label>{{{localize 'SFTD.EndSessionMentalCheck'}}}</label>
</div>
<div class="form-group-inline">
  <input type="checkbox" checked>
  <label>{{{localize 'SFTD.EndSessionLikeDislikeCheck'}}}</label>
</div>
<div class="form-group-inline">
  <input type="checkbox" checked>
  <label>{{{localize 'SFTD.EndSessionLinesVeils'}}}</label>
</div>