<div class="dice-tooltip blades-die-tooltip">
  <div class="chat-label label-stripe-chat">{{localize 'SFTD.AftermathRoll'}} ({{localize 'SFTD.Hazard'}} {{extraFields.hazard}})</div>
  {{#if zeromode}}<div class="chat-label-small label-stripe-chat-small">0d</div>{{/if}}

  <div class="die failure">{{localize (concat 'SFTD.RollAftermath.' extraFields.hazard '.' resultDie '.Title')}}</div>
  <div class="description">
    <p>{{{localize (concat 'SFTD.RollAftermath.' extraFields.hazard '.' resultDie '.Description')}}}</p>
  </div>

  {{#if extraFields.modifier_text}}
  <div class="description">
    <p>{{{extraFields.modifier_text}}}</p>
  </div>
  {{/if}}

  {{#if extraFields.cantHateUs}}
  <div class="description">
    <p>{{{localize 'SFTD.RollAftermathCantHateUs'}}}</p>
  </div>
  {{/if}}

  {{#if note}}
  <em>{{note}}</em>
  {{/if}}

  <ol class="dice-rolls">
    {{#each this.rolls}}
    {{#if this.result}}
    <li class="roll die d6 {{../this.color}}"{{#if (eq this.result 6)}}style="color: red;"{{else if (eq this.result 1)}}style="color: green;"{{/if}}>{{{this.result}}}</li>
    {{else}}
    <li class="roll die d6">{{{this.roll}}}</li>
    {{/if}}
    {{/each}}
    {{#if @root.method}}
    {{#unless (eq @root.method.type "mersenne")}}
    <li class="roll method" data-tooltip="{{localize @root.method.label}}">{{{ @root.method.icon }}}</li>
    {{/unless}}
    {{/if}}
  </ol>
</div>
