<div class="dice-tooltip blades-die-tooltip">
  <div class="chat-label label-stripe-chat">{{localize 'SFTD.StartMission'}}</div>

  {{{contents}}}

  <div class="description">
    <p>{{localize 'SFTD.StartMissionStart'}}</p>
  </div>

  {{#if (and hasAnyCutLooseScarMembersWithCharmwork (gt oldHarmony 0))}}
  <div class="button start-mission-charmwork-only">
    <button class="charmwork">{{localize 'SFTD.StriderAbility.Charmwork.StartMissionButton' oldHarmony=oldHarmony}}</button>
  </div>
  {{/if}}
</div>
