<form class="{{cssClass}} clock-block" autocomplete="off">
  {{#if editable}}
  <div class="clock-name editable">
    <input type="text" id="{{id}}-clock-name" name="name" value="{{name}}" />
  </div>
  {{else}}
  <div class="clock-name">
    <input name="name" value="{{actor.name}}" readonly />
  </div>
  {{/if}}

  {{#if editable}}
  <div class="clock-config flex-horizontal">
    <div class="clock-config-group">
      <label><i class="fa fa-chart-pie"></i></label>
      <select class="size" data-dType="Number" name="system.size">
        {{selectOptions sizeDropdown selected=system.size}}
      </select>
    </div>
    <div class="clock-config-group">
      <label><i class="fa fa-paintbrush"></i></label>
      <select class="theme-color" data-dType="String" name="system.theme_color">
        {{selectOptions themeColorDropdown selected=system.theme_color localize=true}}
      </select>
    </div>
  </div>
  {{/if}}

  <div class="clocks clocks-{{system.size}}">
    {{{blades-clock system.theme system.color system.size 'system.value' system.value _id}}}
  </div>
</form>