<form class="{{cssClass}} actor-sheet" autocomplete="off">
  <section class="flex-horizontal">
    <div class="img-container">
      <img src="{{img}}" data-edit="img" data-tooltip="{{name}}" />
    </div>
    <section class="lines flex-vertical">
      <div class="name-line flex-horizontal">
        {{!-- Name --}}
        <div id="npc-{{_id}}-name-box">
          <label for="npc-{{_id}}-name" class="title-label">{{localize 'SFTD.Name'}}:</label>
          <input type="text" id="npc-{{_id}}-name" class="name" name="name" value="{{name}}">
        </div>
        {{!-- Gender --}}
        <div id="npc-{{_id}}-gender-box">
          <label for="npc-{{_id}}-gender" class="title-label">{{localize 'SFTD.Pronouns'}}:</label>
          <input type="text" id="npc-{{_id}}-gender" class="gender" name="system.gender" value="{{system.gender}}">
        </div>
        {{!-- Form --}}
        <div id="npc-{{_id}}-form-box">
          <label for="npc-{{_id}}-form" class="title-label">{{localize 'SFTD.Form'}}:</label>
          <input type="text" id="npc-{{_id}}-form" class="alias" name="system.form" value="{{system.form}}">
        </div>
      </div>
      <div class="flex-horizontal">
        <label class="text-line" for="npc-{{_id}}-motifs">{{localize 'SFTD.Motifs'}}:</label>
        <input type="text" id="npc-{{_id}}-motifs" name="system.motifs" value="{{system.motifs}}">
      </div>
      <div class="flex-horizontal">
        <label class="text-line" for="npc-{{_id}}-description">{{localize 'SFTD.Description'}}:</label>
        <textarea id="npc-{{_id}}-description" name="system.description">{{system.description}}</textarea>
      </div>
      <div class="flex-horizontal">
        <a class="text-line actor-add-popup" data-actor-type="crew" data-unique="true" data-value-path="system.crew">{{localize 'SFTD.Associated'}} {{localize 'TYPES.Actor.crew'}}:</a>
        {{#if (ne system.crew null)}}
        <div class="item flex-horizontal" data-item-id="{{system.crew.uuid}}">
          <div class="open-actor flex-horizontal">
            <img src="{{system.crew.img}}" data-tooltip="{{system.crew.name}}" width="24" height="24"/>
            <a class="item-name">{{system.crew.name}}</a>
          </div>
          <div class="item-controls flex-horizontal">
            <a class="item-control delete-crew" data-tooltip="{{localize 'SFTD.TitleDeleteCrew'}}"><i class="fas fa-trash"></i></a>
          </div>
        </div>
        {{/if}}
      </div>
      <div class="flex-horizontal">
        <label class="text-line" for="npc-{{_id}}-notes">{{localize 'SFTD.Notes'}}:</label>
        <textarea id="npc-{{_id}}-notes" name="system.notes">{{system.notes}}</textarea>
      </div>
    </section>
  </section>
</form>