<form class="{{cssClass}} actor-sheet" autocomplete="off">
  <section class="flex-horizontal">
    <img src="{{img}}" data-edit="img" data-tooltip="{{name}}" height="120" width="120"/>

    <div class="flex-horizontal top-area">
      <div class="flex-vertical top-area-text">
        <div id="crew-{{_id}}-name-box" class="name">
          <label for="crew-{{_id}}-name" class="title-label">{{localize "SFTD.CrewName"}}:</label>
          <input type="text" id="crew-{{_id}}-name" name="name" value="{{name}}">
        </div>

        <div class="flex-horizontal base-specialties">
          <div id="crew-{{_id}}-base-box" class="base grow-two">
            <label for="crew-{{_id}}-base" class="title-label">{{localize "SFTD.Base"}}:</label>
            <input type="text" id="crew-{{_id}}-base" name="system.base" value="{{system.base}}">
          </div>
          <div id="crew-{{_id}}-specialties-box" class="specialties grow-two">
            <label for="crew-{{_id}}-specialties" class="title-label">{{localize "SFTD.Specialties"}}:</label>
            <input type="text" id="crew-{{_id}}-specialties" name="system.specialties" value="{{system.specialties}}">
          </div>
        </div>
      </div>

      <div class="flex-vertical harmony">
        <div class="black-white-header">{{localize 'SFTD.Harmony'}} <i class="fas fa-question-circle" data-tooltip="{{{localize 'SFTD.HarmonyClue'}}}"></i></div>
        <div class="clock-block">
          <div class="clocks clocks-8 small">
            {{{blades-clock-object system.harmony 'system.harmony' 'harmony_clock' defaultClockThemeColor}}}
          </div>
        </div>
      </div>
    </div>
  </section>

  {{!-- Pressure/Hazard & Currencies --}}
  <section class="flex-horizontal currency-line">
    <div id="crew-{{_id}}-cache" class="flex-vertical cache-container">
      <div class="black-white-header">{{localize "SFTD.Caches"}}</div>
      <div class="flex-vertical cache">
        {{#multiboxes system.cache.value}}
        {{#times_from 0 3}}
        <div class="flex-horizontal cache-line">
          <div class="title-label{{#if (and (lt ../system.cache.value (mult (add this 1) 12)) (gteq ../system.cache.value (mult this 12)))}} current-prosperity{{/if}}">{{localize 'SFTD.Prosperity'}} {{add this 1}}</div>
          <input type="radio" id="crew-{{../_id}}-cache-{{#mult this 12}}{{/mult}}"{{#if (gteq ../system.cache.invested (mult this 12))}} class="invested"{{/if}} data-dType="Number" name="system.cache.value" value="{{#mult this 12}}{{/mult}}">
          {{#times_from 1 12}}
          {{#if (ne (typeof ../this) 'number')}}
          <input type="radio" id="crew-{{../_id}}-cache-{{#mult this (add 12 1)}}{{/mult}}"{{#if (gteq ../system.cache.invested (mult this (add 12 1)))}} class="invested"{{/if}} data-dType="Number" name="system.cache.value" value="{{#mult this (add 12 1)}}{{/mult}}">
          <label class="{{#if (eq (mult this (add 12 1)) ../system.cache.value)}}enabled {{/if}}{{#if (gteq ../system.cache.invested (mult this (add 12 1)))}}invested" data-tooltip="{{localize 'SFTD.InvestedCacheInfo'}}{{else}}radio-toggle{{/if}}" for="crew-{{../_id}}-cache-{{#mult this (add 12 1)}}{{/mult}}"></label>
          {{else}}
          <input type="radio" id="crew-{{../../_id}}-cache-{{#add (mult ../this 12) this}}{{/add}}"{{#if (gteq ../../system.cache.invested (add (mult ../this 12) this))}} class="invested"{{/if}} data-dType="Number" name="system.cache.value" value="{{#add (mult ../this 12) this}}{{/add}}">
          <label class="{{#if (eq (add (mult ../this 12) this) ../../system.cache.value)}}enabled {{/if}}{{#if (gteq ../../system.cache.invested (add (mult ../this 12) this))}}invested" data-tooltip="{{localize 'SFTD.InvestedCacheInfo'}}{{else}}radio-toggle{{/if}}" for="crew-{{../../_id}}-cache-{{#add (mult ../this 12) this}}{{/add}}"></label>
          {{/if}}
          {{/times_from}}
        </div>
        {{/times_from}}
        {{/multiboxes}}
      </div>
    </div>

    {{!-- Pressure/Hazard --}}
    <div class="flex-vertical pressure-hazard-shells">
      <div id="crew-{{_id}}-pressure-hazard" class="flex-horizontal big-teeth-section pressure-hazard">
        <div id="crew-{{_id}}-pressure" class="big-teeth">
          <div class="black-label">{{localize "SFTD.Pressure"}}</div>
          {{#multiboxes system.pressure}}
          <input type="radio" id="crew-{{_id}}-pressure-0" data-dType="Number" name="system.pressure" value="0">
          {{#times_from 1 system.max.pressure}}
          <input id="crew-{{../_id}}-pressure-{{this}}" type="radio" data-dType="Number" name="system.pressure" value="{{this}}">
          <label class= "radio-toggle" for="crew-{{../_id}}-pressure-{{this}}"></label>
          {{/times_from}}
          {{/multiboxes}}

        </div>
        <div id="crew-{{_id}}-hazard-container" class="small-teeth-container hazard crew-hazard-container">
          {{#multiboxes system.hazard}}
          <div id="crew-{{_id}}-hazard" class="small-teeth-wrap">
            <div class="black-label">{{localize "SFTD.Hazard"}}</div>
            <div class="small-teeth">
              <input type="radio" id="crew-{{_id}}-hazard-counter-0" data-dType="Number" name="system.hazard" value="0">
              {{#times_from 1 system.max.hazard}}
              <input id="crew-{{../_id}}-hazard-counter-{{this}}" type="radio" data-dType="Number" name="system.hazard" value="{{this}}">
              <label class= "radio-toggle" for="crew-{{../_id}}-hazard-counter-{{this}}"></label>
              {{/times_from}}
            </div>
          </div>
          {{/multiboxes}}
        </div>
      </div>

      <div class="flex-vertical shells-container">
        <div class="black-white-header">{{localize "SFTD.Shells"}}</div>
        <div class="flex-horizontal shells">
          {{#multiboxes system.shells.value}}
          <input type="radio" id="crew-{{_id}}-shells-0" data-dType="Number" name="system.shells.value" value="0">
          {{#times_from 1 system.shells.max}}
          <input type="radio" id="crew-{{../_id}}-shells-{{this}}" data-dType="Number" name="system.shells.value" value="{{this}}">
          <label class="radio-toggle{{#if (eq this ../system.shells.value)}} enabled{{/if}}" for="crew-{{../_id}}-shells-{{this}}"></label>
          {{/times_from}}
          {{/multiboxes}}
        </div>
      </div>
    </div>
  </section>

  <section class="flex-horizontal">
    <div id="crew-{{_id}}-class" class="class-name crew-class flex-vertical" data-tooltip="{{localize "SFTD.CrewTypeBox"}}" data-distinct="true" data-item-type="crew_type">
      {{#each items as |item id|}}
      {{#if (eq item.type "crew_type")}}
      <div class="big-name">{{item.name}}</div>
      <div class="big-description">{{{item.system.description}}}</div>
      {{/if}}
      {{/each}}
    </div>

    {{!-- Crew XP --}}
    <div class="flex-vertical">
      <div class="big-teeth-section">
        <div id="crew-{{_id}}-xp" class="big-teeth">
          <div class="black-label">{{localize "SFTD.CrewXP"}}</div>
          {{#multiboxes system.experience.value}}
          <input type="radio" id="crew-{{_id}}-experience-0" data-dType="Number" name="system.experience.value" value="0">
          {{#times_from 1 system.experience.max}}
          <input id="crew-{{../_id}}-experience-{{this}}" type="radio" data-dType="Number" name="system.experience.value" value="{{this}}">
          <label class= "radio-toggle" for="crew-{{../_id}}-experience-{{this}}"></label>
          {{/times_from}}
          {{/multiboxes}}
        </div>
      </div>
      <div class="experience-clues-container" style="padding-top: 6px;">
        <div class="experience-clues-description">{{localize "SFTD.CrewExpClue1"}}</div>
        <div class="experience-clues">
          {{#each items as |item id|}}
          {{#if (eq item.type "crew_type")}}
          {{html text=item.system.experience_clues}}
          {{/if}}
          {{/each}}
        </div>
      </div>
    </div>
  </section>

  <section>
    <nav class="tabs flex-horizontal" style="padding-top: 8px">
      <a class="item" data-tab="community">{{localize "SFTD.Community"}}</a>
      <a class="item" data-tab="foundations">{{localize "SFTD.Foundations"}}</a>
      <a class="item" data-tab="abilities">{{localize "SFTD.Abilities"}}</a>
      <a class="item" data-tab="projects">{{localize "SFTD.Projects"}}</a>
      <a class="item" data-tab="specialists">{{localize "SFTD.Specialists"}}</a>
      <a class="item" data-tab="relationships">{{localize "SFTD.Relationships"}}</a>
      <a class="item" data-tab="notes">{{localize "SFTD.Notes"}}</a>
      <a class="item" data-tab="all-items">{{localize "SFTD.AllItems"}}</a>
      {{#if isGM}}
      <a class="item" data-tab="effects">{{localize "SFTD.Effects"}}</a>
      {{/if}}
    </nav>
  </section>

  {{!-- Tabs --}}
  <section class="tab-content">

    {{!-- Community Tab --}}
    <div id="crew-{{_id}}-community" class="community tab grow-two flex-vertical" data-tab="community">
      <div class="label-stripe flex-horizontal">
        <p>{{localize 'SFTD.Community'}}</p>
      </div>

      <div class="community-container flex-horizontal">
        <div class="community-data flex-vertical">
          <div class="community-name-region flex-horizontal">
            <div class="flex-vertical grow-one">
              <label for="crew-{{_id}}-community-name" class="title-label">{{localize 'SFTD.CommunityName'}}:</label>
              <input id="crew-{{_id}}-community-name" type="text" name="system.community.name" value="{{system.community.name}}">
            </div>
            <div class="flex-vertical grow-one">
              <label for="crew-{{_id}}-community-region" class="title-label">{{localize 'SFTD.Region'}}:</label>
              <input id="crew-{{_id}}-community-region" type="text" name="system.community.region" value="{{system.community.region}}">
            </div>
          </div>

          <div class="flex-vertical">
            <label for="crew-{{_id}}-community-geography" class="title-label">{{localize 'SFTD.GeographicalFeatures'}}:</label>
            <textarea id="crew-{{_id}}-community-geography" name="system.community.geographical_features">{{system.community.geographical_features}}</textarea>
          </div>
          <div class="flex-vertical">
            <label for="crew-{{_id}}-community-structure" class="title-label">{{localize 'SFTD.StructuralElements'}}:</label>
            <textarea id="crew-{{_id}}-community-structure" name="system.community.structural_elements">{{system.community.structural_elements}}</textarea>
          </div>

          <div class="flex-vertical">
            <label for="crew-{{_id}}-community-aesthetic" class="title-label">{{localize 'SFTD.AestheticTouches'}}:</label>
            <textarea id="crew-{{_id}}-community-aesthetic" name="system.community.aesthetic_touches">{{system.community.aesthetic_touches}}</textarea>
          </div>
          <div class="flex-vertical">
            <label for="crew-{{_id}}-community-ideals" class="title-label">{{localize 'SFTD.CommunityIdeals'}}:</label>
            <textarea id="crew-{{_id}}-community-ideals" name="system.community.ideals">{{system.community.ideals}}</textarea>
          </div>
        </div>

        <div class="community-members flex-vertical">
          <div class="black-white-header">{{localize 'SFTD.Members'}}</div>
          <div class="tab-list">
            {{#each system.members as |member id|}}
            <div class="item flex-horizontal" data-item-id="{{member.data.uuid}}">
              <div class="open-actor flex-horizontal">
                <img src="{{member.data.img}}" data-tooltip="{{member.data.name}}" width="48" height="48"/>
                <div class="member-data flex-horizontal">
                  <div class="member-name-form flex-vertical">
                    <a class="member-name" data-tooltip="{{member.data.name}}{{#if (ne member.data.system.gender '')}} ({{member.data.system.gender}}){{/if}}">
                      <b>{{member.data.name}}</b>{{#if (ne member.data.system.gender '')}} ({{member.data.system.gender}}){{/if}}
                    </a>
                    <label class="member-form" data-tooltip="{{#if (ne member.data.system.form '')}}{{member.data.system.form}} {{/if}}{{localize (concat 'TYPES.Actor.' member.data.type)}}">
                      {{#if (ne member.data.system.form '')}}{{member.data.system.form}} {{/if}}{{localize (concat 'TYPES.Actor.' member.data.type)}}
                    </label>
                  </div>
                  <div class="member-class flex-vertical">
                    {{#if (eq member.data.type 'strider')}}
                    <label class="title-label">{{localize 'SFTD.Class'}}:</label>
                    {{#if (ne member.data.system.class null)}}
                    <div class="flex-horizontal">
                      <img src="{{member.class.img}}" data-tooltip="{{member.class.name}}" width="24" height="24"/>
                      <label>{{member.class.name}}</label>
                    </div>
                    {{else}}
                    <label>{{localize 'SFTD.None'}}</label>
                    {{/if}}
                    {{else}}
                    <label class="title-label">{{localize "SFTD.Motifs"}}:</label>
                    <label class="motifs"{{#if (ne member.data.system.motifs '')}}data-tooltip="{{member.data.system.motifs}}"{{/if}}>
                      {{#if (ne member.data.system.motifs '')}}
                      {{member.data.system.motifs}}
                      {{else}}
                      {{localize 'SFTD.None'}}
                      {{/if}}
                    </label>
                    {{/if}}
                  </div>
                  <div class="item-controls flex-horizontal">
                    <a class="item-control delete-member" data-tooltip="{{localize 'SFTD.TitleDeleteMember'}}"><i class="fas fa-trash"></i></a>
                  </div>
                </div>
              </div>
            </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>

    {{!-- Foundations --}}
    <div id="crew-{{_id}}-foundations" class="foundations tab grow-two flex-vertical" data-tab="foundations">
      <div class="label-stripe flex-horizontal">
        <p>{{localize 'SFTD.Foundations'}}</p>
        <p><a class="item-add-popup" data-item-type="crew_upgrade"><i class="fas fa-plus-square"></i></a></p>
      </div>
      <div class="tab-list">
        {{#each items as |item id|}}
        {{#if (eq item.type "crew_upgrade")}}
        {{> "systems/songs-for-the-dusk/templates/parts/item_display/crew_upgrade.html" item=item id=id actor=../this}}
        {{/if}}
        {{/each}}
      </div>
    </div>

    {{!-- Crew Abilities --}}
    <div id="crew-{{_id}}-abilities" class="abilities tab grow-two flex-vertical" data-tab="abilities">
      <div class="label-stripe flex-horizontal">
        <p>{{localize 'SFTD.SpecialAbilities'}}</p>
        <p><a class="item-add-popup" data-item-type="crew_ability"><i class="fas fa-plus-square"></i></a></p>
      </div>
      <div class="tab-list">
        {{#each items as |item id|}}
        {{#if (eq item.type "crew_ability")}}
        {{> "systems/songs-for-the-dusk/templates/parts/item_display/crew_ability.html" item=item id=id actor=../this}}
        {{/if}}
        {{/each}}
      </div>
    </div>

    {{!-- Projects --}}
    <div id="crew-{{_id}}-projects" class="projects tab grow-two flex-vertical" data-tab="projects">
      <div class="label-stripe flex-horizontal">
        <p>{{localize 'SFTD.Projects'}}</p>
        <p><a class="add-project"><i class="fas fa-plus-square"></i></a></p>
      </div>
      <table class="projects">
        {{#each system.projects as |project id|}}
        {{#if (eq (modulo id 2) 0)}}
        <tr>
        {{/if}}
          <td class="flex-vertical">
            <td class="flex-vertical grow-two project item" data-project-id="{{id}}">
              <section class="flex-horizontal">
                <div class="clock-block">
                  <div class="project-clock clocks clocks-{{project.clock.max}} small">
                    {{{blades-clock-object project.clock (concat 'system.projects.' id '.clock') (concat ../_id '-project-' id) ../defaultClockThemeColor}}}
                  </div>
                </div>
                <div class="flex-vertical clock-settings">
                  <div class="flex-horizontal clock-size">
                    <label><i class="fa fa-chart-pie" data-tooltip="{{localize 'SFTD.ClockSize'}}"></i></label>
                    <select data-type="String" name="system.projects.{{id}}.clock.max">
                      {{selectOptions ../clockSizeDropdown selected=project.clock.max}}
                    </select>
                  </div>
                  <div class="flex-horizontal invested-caches">
                    <label><i class="fa fa-treasure-chest" data-tooltip="{{localize 'SFTD.InvestedCaches'}}"></i></label>
                    <select data-type="Number" name="system.projects.{{id}}.invested_caches">
                      {{selectOptions ../investedCachesDropdown selected=project.invested_caches}}
                    </select>
                  </div>
                </div>
                <div class="flex-vertical project-text">
                  <input type="text" name="system.projects.{{id}}.title" value="{{project.title}}" placeholder="{{localize SFTD.Title}}">
                  <textarea class="project-description" rows="1" name="system.projects.{{id}}.description">{{project.description}}</textarea>
                </div>
                <a class="item-control delete-project" data-tooltip="{{localize 'SFTD.TitleDeleteProject'}}"><i class="fas fa-trash"></i></a>
              </section>
            </td>
          </td>
          {{#if (or (eq (modulo id 2) 1) @last)}}
        </tr>
        {{/if}}
        {{/each}}
      </table>
    </div>

    {{!-- Specialists Tab --}}
    <div id="crew-{{_id}}-specialists" class="crew-specialists tab grow-two flex-vertical" data-tab="specialists">
      <div class="label-stripe flex-horizontal">
        <p>{{localize "SFTD.Specialists"}}</p>
        <p><a class="add-item" data-item-type="cohort"><i class="fas fa-plus-square"></i></a></p>
      </div>
      <div class="specialists flex-horizontal">
        {{#each items as |item id|}}
        {{#if (eq item.type "cohort")}}
        {{> "systems/songs-for-the-dusk/templates/parts/cohort-block.html" item=item}}
        {{/if}}
        {{/each}}
      </div>
    </div>

    {{!-- Notes --}}
    <div id="crew-{{_id}}-notes" class="notes tab grow-two flex-vertical" data-tab="notes">
      <div class="label-stripe">
        <p>{{localize "SFTD.Notes"}}</p>
      </div>
      <textarea rows="15" name="system.description">{{{system.description}}}</textarea>
    </div>

    {{!-- Active Effects --}}
    {{#if isGM}}
    <div id="crew-{{_id}}-effects" class="tab effects flex-vertical" data-tab="effects">
      <div class="label-stripe">
        <p>{{localize "SFTD.Effects"}}</p>
      </div>
      {{> "systems/songs-for-the-dusk/templates/parts/active-effects.html"}}
    </div>
    {{/if}}

    {{!-- Full Item List --}}
    <div class="tab grow-two flex-vertical" data-tab="all-items">
      <div class="label-stripe">
        <p><label>{{localize "SFTD.AllItems"}}</label></p>
      </div>
      {{#each items as |item id|}}
      <div class="item flex-horizontal" data-item-id="{{item._id}}">
        <div class="item-body item-sheet-open flex-horizontal">
          <img src="{{item.img}}" data-tooltip="{{item.name}}" width="24" height="24"/>
          <div class="item-name">{{item.name}}</div>
        </div>
        <a class="item-control delete-item" data-tooltip="{{localize 'SFTD.TitleDeleteItem'}}"><i class="fas fa-trash"></i></a>
        <a class="item-control item-post" data-tooltip="{{localize 'SFTD.TitlePostItem'}}"><i class="fas fa-comment"></i></a>
      </div>
      {{/each}}
    </div>

  </section>


</form>
