<form class="{{cssClass}} actor-sheet" autocomplete="off">
<section class="npc-sheet flex-horizontal">
	<img src="{{img}}" data-edit="img" title="{{name}}" height="150" width="150"/>
  <section class="npc-lines flex-column">
	<div class="flex-horizontal">
		<label class="text-line" for="strider-{{_id}}-name" >{{localize 'SFTD.Name'}}:</label>
		<input type="text" id="strider-{{_id}}-name" name="name" value="{{name}}" placeholder="{{localize 'SFTD.Name'}}">
	</div>
	<div class="flex-horizontal">
		<label class="text-line" for="strider-{{_id}}-short-description">{{localize 'SFTD.Short'}} {{localize 'SFTD.Description'}}:</label>
		<input type="text" id="strider-{{_id}}-short-description" name="system.description_short" value="{{system.description_short}}">

	</div>
	<div class="flex-horizontal">
		<label class="text-line" for="strider-{{_id}}-associated-class">{{localize 'SFTD.Associated'}} {{localize 'SFTD.Class'}}:</label>
		<input type="text" id="strider-{{_id}}-associated-class" name="system.associated_class" value="{{system.associated_class}}">

	</div>
	<div class="flex-horizontal">
		<label class="text-line" for="strider-{{_id}}-description">{{localize 'SFTD.Full'}} {{localize 'SFTD.Description'}}:</label>
		<textarea rows="2" id="strider-{{_id}}-description" name="system.description">{{system.description}}</textarea>

	</div>
	<div class="flex-horizontal">
		<label class="text-line" for="strider-{{_id}}-associated-crew-type">{{localize 'SFTD.Associated'}} {{localize 'SFTD.CrewType'}}:</label>
		<input type="text" id="strider-{{_id}}-associated-crew-type" name="system.associated_crew_type" value="{{system.associated_crew_type}}">

	</div>
	<div class="flex-horizontal">
		<label class="text-line" for="strider-{{_id}}-associated-faction">{{localize 'SFTD.Associated'}} {{localize 'SFTD.Faction'}}:</label>
		<input type="text" id="strider-{{_id}}-associated-faction" name="system.associated_faction" value="{{system.associated_faction}}" >

	</div>
	<div class="flex-horizontal">
		<label class="text-line" for="strider-{{_id}}-notes">{{localize 'SFTD.Notes'}}:</label>
		<textarea rows="2" id="strider-{{_id}}-notes" name="system.notes">{{system.notes}}</textarea>

	</div>
	</section>
  </section>
</form>

