<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{img}}" data-edit="img" title="{{name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{name}}" placeholder="{{localize 'SFTD.Name'}}"/></h1>
        </div>
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body flex">
      {{editor system.description target="system.description" button=true editable=editable}}
    </section>

    <div class="flex-vertical">
      <div class='flex-horizontal'>
        <div class='three-line'>
          <label class="label-stripe">{{localize "SFTD.AbilityPrice"}}</label>
          <inputtype="text" name="system.price" onkeypress="return BladesHelpers.isNumberKey(event)" data-dType="Number" value="{{system.price}}" placeholder="{{localize 'SFTD.AbilityPrice'}}">
        </div>
        <div class='three-line'>
          <label class="label-stripe">{{localize "SFTD.AbilityClass"}}</label>
          <input type="text" name="system.class" value="{{system.class}}" placeholder="{{localize 'SFTD.AbilityClass'}}">
        </div>
        <div class='three-line'>
          <label class="label-stripe">{{localize "SFTD.PopupID"}}</label>
          <input type="text" name="system.popup" value="{{system.popup}}" placeholder="{{localize 'SFTD.PopupID'}}">
        </div>
      </div>
      <div class='flex-horizontal'>
        <div class='two-line'>
          <label class="label-stripe">{{localize "SFTD.Uses"}}</label>
          <input type="text" name="system.uses.max" onkeypress="return BladesHelpers.isNumberKey(event)" data-dType="Number" value="{{system.uses.max}}" placeholder="{{localize 'SFTD.Uses'}}">
        </div>
        <div class='two-line'>
          <label class='label-stripe'>{{localize 'SFTD.ReplenishOnMissionStart'}}</label>
          <input type='checkbox' name='system.replenish' data-dType='Boolean' {{checked system.replenish}}>
        </div>
      </div>
      {{#if isGM}}
       <!-- <div class="label-stripe">{{localize "SFTD.Logic"}}</div>
        <textarea name="system.logic">{{{system.logic}}}</textarea> -->
        <div class="label-stripe">{{localize "SFTD.Effects"}}</div>
        <div id="effects">{{> "systems/songs-for-the-dusk/templates/parts/active-effects.html"}}</div>
      {{/if}}
    </div>
</form>
