.chat-label {
  background-color: $almost_black;
  font-family: "Kirsty", serif;
  color: $almost_white;
  font-size: 21px;
  text-align: center;
  padding: 0px 5px;
  height: 30px !important;
  text-transform: capitalize;
}

.chat-label-small {
  background-color: $gray;
  color: $almost_black;
  font-size: small;
  text-align: center;
  padding: 3px 5px;
  height: 20px !important;
}

.label-stripe-chat {
  text-transform: uppercase;
  background-color: $almost_black;
  color: $almost_white;
  margin-bottom: 10px;
  position: relative;
  padding-top: 3px;
  display: flex;
  font-weight: bold;
  margin: 0;
}

.label-stripe-chat-small {
  text-transform: capitalize;
  background-color: $gray;
  color: $almost_black;
  margin-bottom: 10px;
  position: relative;
  padding-top: 3px;
  display: flex;
  font-weight: bold;
}

.flex-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.blades-die-tooltip {
  .die {
    font-weight: bold;
    text-transform: capitalize;
    font-size: large;
    margin-top: 10px;

    &.critical-success {
      color: $light_green;
    }

    &.success {
      color: $green;
    }

    &.partial-success {
      color: $blue;
    }

    &.failure {
      color: $red;
    }
  }
}

.leader-block, .specialist-block {
  display: flex;
  text-align: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  padding-bottom: 10px;

  & > div {
    display: flex;
    align-self: center;
    gap: 10px;

    & > img {
      border: black 1px solid;
    }

    .name {
      align-self: center;
    }
  }
}

.specialist-block {
  padding-top: 10px;

  & > select {
    width: fit-content;
  }

  & > div:not(:empty):not(.button) {
    padding: 10px 0;
  }
}

.message-content {
  .button {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-top: 0.25em;
  }
}

&.special-message {
  display: none;
}

&:has(.special-message) {
  display: none;
}