.clock-zero-label {
  color: $almost_black;
}

.clock-block {
  .clocks {
    display: flex;
    justify-content: center;

    @for $i from 1 through 12 {

      &.clocks-#{$i} {
        & > .shifted {
          @include clock($i, 200, true);
        }
        & > :not(.shifted) {
          @include clock($i, 200);
        }
        &.medium {
          & > .shifted {
            @include clock($i, 150, true);
          }
          & > :not(.shifted) {
            @include clock($i, 150);
          }
        }
        &.small {
          & > .shifted {
            @include clock($i, 88, true);
          }
          & > :not(.shifted) {
            @include clock($i, 88);
          }
        }
      }
    }
  }
}

.blades-clock-name-type {
  > * {
    margin-bottom: 10px;
  }
}