.rollable-text {
  transition: color $transition-period;

  &:hover {
    cursor: pointer;
    color: $red;
  }
}

textarea {
  font-family: "Crimson Text", serif;
}

nav {
  margin-bottom: 10px;
}

td {
  padding: 5px !important;
}

header {
  margin-bottom: 10px;
}

/* ul {
  list-style: none;
} */

section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &:not(.window-content):not(.flex-vertical) > *:not(.label-stripe) {
    margin-right: 10px;

    &:last-child {
      margin-right: 0px;
    }
  }

  .grow-one {
    flex-grow: 1;
  }

  .grow-two {
    flex-grow: 2;
  }

  &.experience {
    margin-bottom: 0px;
    justify-content: center;
  }
}

.editor,
.editor-content {
  min-height: 150px;
}

.flex-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-vertical {
  display: flex;
  flex-direction: column;
}

.tab[data-tab]{
  display: none;

  &.active {
    display: block;
  }
}

.black-white-header {
  background-color: $almost_black;
  color: $almost_white;
  text-align: center;
  width: 100%;

  &:is(div) {
    padding: 0.25em;
    font-weight: bold;
    text-align: center;
  }
}

.wide-black-label {
  background-color: $almost_black;
  color: $almost_white;
  font-size: 21px;
  text-align: center;
  padding: 0px 5px;
  width: 100%;
  height: 30px !important;
  text-transform: capitalize;
  font-family: "Kirsty", serif;

  i {
    font-size: 18px;
  }
}

.black-label {
  background-color: $almost_black;
  color: $almost_white;
  font-size: 21px;
  text-align: center;
  padding: 0px 5px;
  height: 30px !important;
  text-transform: capitalize;
  font-family: "Kirsty", serif;
}

.gray-label {
  background-color: $gray;
  color: $almost_black;
  font-size: 21px;
  text-align: center;
  padding: 0px 5px;
  height: 30px !important;
  text-transform: capitalize;
  font-family: "Kirsty", serif;
}

.label-stripe {
  text-transform: uppercase;
  background-color: $almost_black;
  color: $almost_white;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  font-weight: bold;

  .dropdown option {
    background-color: $almost_black;
    color: $almost_white;
  }
}

.label-stripe-gray {
  text-transform: uppercase;
  background-color: $darkgray;
  color: $almost_white;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  font-weight: bold;

  .dropdown option {
    background-color: $darkgray;
    color: $almost_white;
  }
}

.description {
  font-style: italic;
}

.grouped-radio-list {
  display: flex;
  gap: 5px;
}

.effects-list {
  margin: 0 0;
}

.half {
  flex: 1;
}

.attributes {
  display: flex;
  flex-direction: column;
  width: 180px;
  min-width: 180px;

  .stripe {
    background-color: $almost_black;
    color: $almost_white;
    font-size: 17px;
    padding-left: 5px;
  }

  .attribute {
    margin-bottom: 5px;

    .attribute-label,
    .attribute-action-label {
      font-weight: bold;
      text-transform: uppercase;
    }

    .attribute-action-label {
      letter-spacing: 1px;
    }

    .attributes-exp {
      position: relative;
      margin-bottom: 10px;

      .stripe-tooth-body {
        @include toothradio(10px, 30px, "assets/teeth/xptooth-white.png", "assets/teeth/xptooth-red.png");
        position: absolute;
        top: 0px;
        right: 0px;
      }
    }

    .attributes-container {
      @include custom_radio(15px, 15px);
      margin: 3px 0px;

      * {
        margin-right: 5px;
      }
    }
  }
}

.extra-content {
  border-top: 2px solid black;
  margin-top: 1em;

  & > *:first-child {
    margin-top: 1em;
  }

  input[type=checkbox] {
    margin-right: 0px;
  }
}

.d20-svg {
  height: 24px;
  width: 24px;
  position: relative;

  &:hover {
    animation: rotation 2s infinite linear;

    @keyframes rotation {
      from {
        -webkit-transform: rotate(0deg);
      }
      to {
        -webkit-transform: rotate(359deg);
      }
    }
  }
}

.collapse {
  align-items: center;
  justify-items: center;

  .fas:before {
    font-size: 24px;
  }
}

.collapsed {
  display: none;
}